.main__header {
    display: flex;
    column-gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    flex-grow: 1;
    padding: 16px 24px;
    border-radius: 6px;
    border: 1px solid #E3E3E3;
    margin-left: 2px;
    background-color: rgba(40, 92, 208, 0.1);
}

.header__date {
    font-size: 14px;
    cursor: default;
}

.header__time {
    font-weight: bold;
    font-size: 32px;
    cursor: default;
}

.blink_me {
    animation: blinker 1s ease-out infinite;
}
  
@keyframes blinker { 50% { opacity: 0;} }